<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Style -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/global.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- Scripts -->
    <script src="https://kit.fontawesome.com/cfaedefc96.js" crossorigin="anonymous"></script>
    <!-- Title -->
    <title>Mission: Discover</title>
</head>
<body>
    <div id="home" class="content">
        <header class="logo">
            <a href="/"><img src="/images/logo.png" alt=""></a>            
        </header>

        <div id="bg">
            <div class="ball top"></div>
            <div class="ball bottom"></div>
        </div>
    
        <main>
            <div class="container">
                <%- include(`parts/${page}`)%>
            </div>
        </main>
    </div>
</body>
</html>