<section class="enter">
    <h2>Crie sua própria sala</h2>
    <form action="/create-room" method="POST">
        <label for="room-pass" class="sr-only">Insira uma senha</label>
        <input id="room-pass" type="password" name="password" placeholder="Insira uma senha">
        <button type="" class="button"><i class="fas fa-users"></i> Criar Sala</button>
    </form>
</section>